[Desktop Entry]
Encoding=UTF-8
Name=Kpple Menu
Comment=The Kpple menu is a drop-down menu that is on left side of the menu bar.

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=kpple.org
X-KDE-PluginInfo-Email=info.kpple@gmail.com
X-KDE-PluginInfo-Name=org.kpple.kppleMenu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/kppleos
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true